<header>
  <div class='header'>
    <div class='header-inner'>
      <p class='header-title'>
        <a href="/">
          みんなのキンドル
        </a>
      </p>
    </div>
  </div>
</header>
<main>
  hoge
</main>
