<header>
  <div class='header'>
    <div class='header-inner'>
      <p class='header-title'>
        <a href="/">
          みんなのキンドル
        </a>
      </p>
    </div>
    <nav>
      <div class='header-nav'>
        <li>
          <a href="/about">みんなのキンドルとは</a>
        </li>
        <li>
          <a href="/about">みんなのキンドルとは</a>
        </li>
        <li>
          <a href="/about">みんなのキンドルとは</a>
        </li>
        <li>
          <a href="/about">みんなのキンドルとは</a>
        </li>
      </div>
    </nav>
  </div>
</header>
<main>
  hoge
</main>
