<header>
  <div class='header'>
    <div class='header-inner'>
      <p class='header-title'>
        <a href="/">
          みんなのキンドル
        </a>
      </p>
    </div>
  </div>
</header>
<main>

<%=
  @res.items.first(5).each do |item|
    puts item.get('ASIN') + ':' + item.get('ItemAttributes/Title')
  end
%>

</main>
