<header>
  <div class='header'>
    <div class='header-inner'>
      <p class='header-title'>
        <a href="/">
          みんなのキンドル
        </a>
      </p>
    </div>
    <nav>
      <div class='header-nav'>
        <li>
          <a href="/about">みんなのキンドルとは</a>
        </li>
        <li>
          <a href="/about">みんなのキンドルとは</a>
        </li>
        <li>
          <a href="/about">みんなのキンドルとは</a>
        </li>
        <li>
          <a href="/about">みんなのキンドルとは</a>
        </li>
      </div>
    </nav>
  </div>
</header>
<main>
  amazon = Amazon::Ecs.item_search('keyword', :search_index => 'All', :country => 'jp')
  amazon.items.each do |item|
  puts item.get("DetailPageURL")  # 詳細ページURLを取得
  puts item.get("ItemAttributes/Title")  # 商品タイトルを取得
end
</main>
