// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header {
  background-color: #ccc;
  padding: 20px;

  .header-inner {
    width: 1080px;
    margin: 0 auto;

    .header-title {
      font-size: 20px;
      color: #000;
    }
  }
}
